<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="coolguysoft.com.spectremeltdownvulnerabilitydiagnostictoolkitadvanced">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_foreground_smaller"
        android:label="Meltdown Vulnerability Checker"
        android:roundIcon="@mipmap/ic_launcher_smaller_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".vuln_checker">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>